@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "GetContactById";
    Layout = "~/Views/Shared/ContactsLayout.cshtml";
}

<form method="get" >
    @Html.Label("Ad Soyaad")    
    <input type="text" class="form-control" asp-for=ContactName>
    @Html.Label("Telefon")
    <input type="text" class="form-control" asp-for=ContactPhone>
    @Html.Label("Meslek")
    <input type="text" class="form-control" asp-for=ContactJob>
    @Html.Label("Email")
    <input type="text" class="form-control" asp-for=ContactEmail>
    @Html.Label("Adres")
    <input type="text" class="form-control" asp-for=ContactAddress>
    @Html.Label("Web Sayfası")
    <input type="text" class="form-control" asp-for=ContactWebPage> 
    @Html.Label("Resim")
    <input type="text" class="form-control" asp-for=ContactImage>

    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>
